@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600|Roboto+Mono:300,400");
* {
  box-sizing: border-box;
}

html {
  background: linear-gradient(rgba(34, 41, 65, 0.45), rgba(46, 55, 86, 0.45)), url("https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.hero-head header {
  height: 75px;
}
.hero-head header .navbar-item img {
  height: 75px;
  max-height: none;
}
.hero-head header .navbar-item .is-primary {
  border-color: white !important;
  color: white !important;
}

.hero-body .title {
  font-family: "Montserrat", sans-serif;
  font-weight: 300 !important;
  font-size: 4rem !important;
  letter-spacing: 15px;
  color: #ffffff !important;
}
.hero-body .subtitle .countdown {
  color: #ffffff;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 15px;
  letter-spacing: 2px;
  font-size: 2.5rem;
}

.hero-foot {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}
.hero-foot ul li {
  display: inline;
  padding: 25px;
}
.hero-foot a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7rem;
}

/* -------------------- */
/* -- Animations CSS -- */
/* -------------------- */
@keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1\9 ;
  }
  to {
    opacity: 1;
  }
}
.fade {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

.fade.fadeOne {
  animation-delay: 1.7s;
}

.fade.fadeTwo {
  animation-delay: 2.2s;
}

.fade.fadeThree {
  animation-delay: 4.2s;
}
.fade.fadeThree span {
  font-size: 0.8rem;
}
